.walletConnect {
  text-align: center;
}

.App-header {
  background-color: #1a1d23;
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 60px;
}

button:hover {
  background-color: #2980b9;
  color: #ffffff;
  border-color: #2980b9;
}

.faucetBody {
  background-image: linear-gradient(to left, #070709, #3498db);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
}

.faucetApp{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column; 
  width: 1000px;
  height: 400px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.faucetApp h1 { 
  font-weight: bold;
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 8px;
}

.faucetApp p { 
  font-size: 20px;
  margin-top: 8px;
}

.faucetApp h2 { 
  background-color: black;
  color: white;
  width: 600px;
  border-radius: 2px;
  align-items: center;
  
}

.getFaucet{
  display: flex;
  margin-right: 20px;
}

.getFaucet input {
  width: 600px;
  margin: 10px;
  border-color: #2980b9;
}
.getFaucet button {
  margin: 10px;
  margin-left: 50px;
}