.walletConnect {
  text-align: center;
}

.App-header {
  background-color: #1a1d23;
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 60px;
}

button:hover {
  background-color: #2980b9;
  color: #ffffff;
  border-color: #2980b9;
}



